[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = .
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/newcerts
database          = $dir/index.txt
serial            = $dir/serial
private_key       = $dir/private/root.key.pem
certificate       = $dir/certs/root.crt.pem
default_md        = sha256
policy            = policy_strict
email_in_dn       = no
name_opt          = ca_default
cert_opt          = ca_default
copy_extensions   = none
unique_subject    = no
default_days      = 7300   # ~20 years for root

[ policy_strict ]
countryName             = supplied
organizationName        = supplied
commonName              = supplied

[ req ]
default_bits        = 4096
distinguished_name  = dn
string_mask         = utf8only
default_md          = sha256
x509_extensions     = v3_ca

[ dn ]
countryName         = Country Name (2 letter code)
organizationName    = Organization Name
commonName          = Common Name

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, keyCertSign, cRLSign

[ v3_intermediate_ca ]
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always

